/* 
Свернух прописывается силектор(название тега или класса);
Далее, в фигурных скобках указываются значения
*/

span{
    font-size: 20px;
    color: red;
}

.bigred{
    font-size: 30px;
    color: green;
}

span.bigred{
    color: blue;
}
/* 
Силектор "span.bigred" имеет приемущество по отношение к "span" или ".bigrd";
И если даже он будет стоять выше, то всеравно он будет иметь приоритет.
*/

.bigred span{
    color: green;
}

.block>p{
    color: blueviolet;
}
/* 
Данный силектор распростроняется на "div class: block";
Но не распростроняется на "div", вложенный в "div class: block".
*/

.block{
    border: 1px solid black;
}
/* 
Данное значение применется только к тому классу, для которого мы описываем данный параметр.
Так же есть параметры, которые наследуются, а есть, которые не наследуются.
*/